@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

/* -----------------home */
.home-h1 {
  font-size: 50px !important;
  font-weight: 500;
  color: '#2d2d2d'
}

.btn-main {
  background-color: #2590e8;
  color: white !important;

}
.btn-home{
  padding: 10px 5px;
  font-size: 18px;
  width: 50% !important;
}

.home {
  height: 80vh;
}

.btn-main:active,
.btn-main:hover {
  background-color: #217bc4 !important;
  box-shadow: 0 0 0.5rem #2590e8 !important;
}

/* -------------------------forms */
.container-form{
  box-shadow: 0 0 0.25rem #bbd3e8 !important;
}
.input-container {
  position: relative;
  /* Set the width of the input container */
}

.input-container i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  /* Adjust the left position based on your design */
  color: #2590e8;
  /* Set the color of the icon */
}

.input-container input {
  padding-left: 30px;
  /* Adjust the left padding based on the icon width and position */
  width: 100%;
  box-sizing: border-box;
}

.btn-main-disable{
background-color:#878787 !important;
color: white !important;
}

.btn-main-disable:active,
.btn-main-disable:hover {
  background-color: #515050 !important;
  box-shadow: 0 0 0.5rem #878787 !important;
  /* box-shadow: 0 0 0.5rem #2590e8; */

}





/* -------------------------media query */
@media (max-width:1200px) {
  .home-h1 {
    font-size: 40px !important
  }
}

@media (max-width:929px) {
  .home {
    height: auto;
  }

}

/* @media (max-width:767px){
  .home-h1{
    font-size: 32px !important
  }
 } */